services:
  web-development:
    image: catalyst-web:development
    build:
      context: ./web
      dockerfile: Dockerfile
      target: development
      platforms:
        - linux/amd64

  web-production:
    image: catalyst-web:latest
    build:
      context: ./web
      dockerfile: Dockerfile
      target: runner
      platforms:
        - linux/amd64

  operator-development:
    image: controller:development
    build:
      context: ./operator
      dockerfile: Dockerfile
      target: builder
      platforms:
        - linux/amd64

  operator-production:
    image: controller:latest
    build:
      context: ./operator
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
