apiVersion: catalyst.catalyst.dev/v1alpha1
kind: Environment
metadata:
  name: catalyst-dev
  namespace: catalyst-system
spec:
  projectRef:
    name: catalyst

  type: development

  sources:
    - name: catalyst
      branch: main
      commitSha: latest

  config:
    envVars:
      - name: DEBUG
        value: "true"
    image: "ghcr.io/ncrmro/catalyst:local"

  ingress:
    enabled: true
    host: catalyst.localhost
